<!doctype html>
<html>
<head>
<%
  // ページごとに指定
  var title = 'top page';
  var description = 'description';
  var url = '';
%>
<% include ./include/_head %>

</head>

<body>

<div class="wrapper">
<!-- activeにページurlを入れる -->
<%- include('./include/_header', {active:'top'}); %>

<div class="contents">
  <div class="sample">

    <p>コンテンツコンテンツコンテンツコンテンツ</p>


<!--
    <svg class="svg--fork" role="img">
      <title>fork</title>
      <use xlink:href="img/svg/sprite.svg#svg--fork"></use>
    </svg>

    <svg class="svg--home" role="img">
      <title>home</title>
      <use xlink:href="img/svg/sprite.svg#svg--home"></use>
    </svg>
-->


  </div>

<div id="app">


    <router-link to="/foo">Go to Foo</router-link>
    <router-link to="/bar">Go to Bar</router-link>

    <router-view></router-view>
</div>

</div><!-- contents -->




<% include ./include/_footer %>
</div><!-- wrapper -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="js/style.js"></script>
</body>
</html>
