<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,user-scalable=no">
<title>sample</title>
<meta name="description" content="sample">
<meta name="format-detection" content="telephone=no" />
<link rel="canonical" href="https://www.sample.jp/">

<!-- OGP - facebook -->
<meta property="og:site_name" content="Alpen Group">
<meta property="og:url" content="https://www.sample.jp/">
<meta property="og:title" content="sample">
<meta property="og:description" content="sample">
<meta property="og:image" content="">
<meta property="og:type" content="website">

<!--  OGP - Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@twitter_name">
<meta name="twitter:title" content="">
<meta name="twitter:url" content="https://www.sample.jp/">
<meta name="twitter:description" content="">

<link rel="icon" href="/img/common/favicon.png">
<link rel="apple-touch-icon" href="/img/common/apple-touch-icon.png">
<link rel="stylesheet" href="/css/style.css">
