<!-- include Prefectures - start -->
<div class="checkItemWrap">
  <div class="btn-back btn-back-prefectures"><span>閉じる</span></div>
  <div class="btn-close">
    <div class="btn-close__inner">
      <span></span>
      <span></span>
    </div>
  </div>

  <!-- 北海道・東北 - start -->
  <dl class="checkbox checkbox-prefectures">
    <dt>北海道・東北</dt>
    <dd>
      <input id="北海道" class="checkItem" type="checkbox" name="北海道" value="北海道">
      <label for="北海道">北海道</label>
    </dd>
    <dd>
      <input id="青森県" class="checkItem" type="checkbox" name="青森県" value="青森県">
      <label for="青森県">青森県</label>
    </dd>
    <dd>
      <input id="岩手県" class="checkItem" type="checkbox" name="岩手県" value="岩手県">
      <label for="岩手県">岩手県</label>
    </dd>
    <dd>
      <input id="宮城県" class="checkItem" type="checkbox" name="宮城県" value="宮城県">
      <label for="宮城県">宮城県</label>
    </dd>
    <dd>
      <input id="秋田県" class="checkItem" type="checkbox" name="秋田県" value="秋田県">
      <label for="秋田県">秋田県</label>
    </dd>
    <dd>
      <input id="山形県" class="checkItem" type="checkbox" name="山形県" value="山形県">
      <label for="山形県">山形県</label>
    </dd>
    <dd>
      <input id="福島県" class="checkItem" type="checkbox" name="福島県" value="福島県">
      <label for="福島県">福島県</label>
    </dd>
    <dt>関東</dt>
    <dd>
      <input id="茨城県" class="checkItem" type="checkbox" name="茨城県" value="茨城県">
      <label for="茨城県">茨城県</label>
    </dd>
    <dd>
      <input id="栃木県" class="checkItem" type="checkbox" name="栃木県" value="栃木県">
      <label for="栃木県">栃木県</label>
    </dd>
    <dd>
      <input id="群馬県" class="checkItem" type="checkbox" name="群馬県" value="群馬県">
      <label for="群馬県">群馬県</label>
    </dd>
    <dd>
      <input id="埼玉県" class="checkItem" type="checkbox" name="埼玉県" value="埼玉県">
      <label for="埼玉県">埼玉県</label>
    </dd>
    <dd>
      <input id="千葉県" class="checkItem" type="checkbox" name="千葉県" value="千葉県">
      <label for="千葉県">千葉県</label>
    </dd>
    <dd>
      <input id="東京都" class="checkItem" type="checkbox" name="東京都" value="東京都">
      <label for="東京都">東京都</label>
    </dd>
    <dd>
      <input id="神奈川県" class="checkItem" type="checkbox" name="神奈川県" value="神奈川県">
      <label for="神奈川県">神奈川県</label>
    </dd>
    <dt>中部</dt>
    <dd>
      <input id="新潟県" class="checkItem" type="checkbox" name="新潟県" value="新潟県">
      <label for="新潟県">新潟県</label>
    </dd>
    <dd>
      <input id="富山県" class="checkItem" type="checkbox" name="富山県" value="富山県">
      <label for="富山県">富山県</label>
    </dd>
    <dd>
      <input id="石川県" class="checkItem" type="checkbox" name="石川県" value="石川県">
      <label for="石川県">石川県</label>
    </dd>
    <dd>
      <input id="福井県" class="checkItem" type="checkbox" name="福井県" value="福井県">
      <label for="福井県">福井県</label>
    </dd>
    <dd>
      <input id="山梨県" class="checkItem" type="checkbox" name="山梨県" value="山梨県">
      <label for="山梨県">山梨県</label>
    </dd>
    <dd>
      <input id="長野県" class="checkItem" type="checkbox" name="長野県" value="長野県">
      <label for="長野県">長野県</label>
    </dd>
    <dd>
      <input id="岐阜県" class="checkItem" type="checkbox" name="岐阜県" value="岐阜県">
      <label for="岐阜県">岐阜県</label>
    </dd>
    <dd>
      <input id="静岡県" class="checkItem" type="checkbox" name="静岡県" value="静岡県">
      <label for="静岡県">静岡県</label>
    </dd>
    <dd>
      <input id="愛知県" class="checkItem" type="checkbox" name="愛知県" value="愛知県">
      <label for="愛知県">愛知県</label>
    </dd>
    <dt>近畿</dt>
    <dd>
      <input id="三重県" class="checkItem" type="checkbox" name="三重県" value="三重県">
      <label for="三重県">三重県</label>
    </dd>
    <dd>
      <input id="滋賀県" class="checkItem" type="checkbox" name="滋賀県" value="滋賀県">
      <label for="滋賀県">滋賀県</label>
    </dd>
    <dd>
      <input id="京都府" class="checkItem" type="checkbox" name="京都府" value="京都府">
      <label for="京都府">京都府</label>
    </dd>
    <dd>
      <input id="大阪府" class="checkItem" type="checkbox" name="大阪府" value="大阪府">
      <label for="大阪府">大阪府</label>
    </dd>
    <dd>
      <input id="兵庫県" class="checkItem" type="checkbox" name="兵庫県" value="兵庫県">
      <label for="兵庫県">兵庫県</label>
    </dd>
    <dd>
      <input id="奈良県" class="checkItem" type="checkbox" name="奈良県" value="奈良県">
      <label for="奈良県">奈良県</label>
    </dd>
    <dd>
      <input id="和歌山県" class="checkItem" type="checkbox" name="和歌山県" value="和歌山県">
      <label for="和歌山県">和歌山県</label>
    </dd>
    <dt>中国・四国</dt>
    <dd>
      <input id="鳥取県" class="checkItem" type="checkbox" name="鳥取県" value="鳥取県">
      <label for="鳥取県">鳥取県</label>
    </dd>
    <dd>
      <input id="島根県" class="checkItem" type="checkbox" name="島根県" value="島根県">
      <label for="島根県">島根県</label>
    </dd>
    <dd>
      <input id="岡山県" class="checkItem" type="checkbox" name="岡山県" value="岡山県">
      <label for="岡山県">岡山県</label>
    </dd>
    <dd>
      <input id="広島県" class="checkItem" type="checkbox" name="広島県" value="広島県">
      <label for="広島県">広島県</label>
    </dd>
    <dd>
      <input id="山口県" class="checkItem" type="checkbox" name="山口県" value="山口県">
      <label for="山口県">山口県</label>
    </dd>
    <dd>
      <input id="徳島県" class="checkItem" type="checkbox" name="徳島県" value="徳島県">
      <label for="徳島県">徳島県</label>
    </dd>
    <dd>
      <input id="香川県" class="checkItem" type="checkbox" name="香川県" value="香川県">
      <label for="香川県">香川県</label>
    </dd>
    <dd>
      <input id="愛媛県" class="checkItem" type="checkbox" name="愛媛県" value="愛媛県">
      <label for="愛媛県">愛媛県</label>
    </dd>
    <dd>
      <input id="高知県" class="checkItem" type="checkbox" name="高知県" value="高知県">
      <label for="高知県">高知県</label>
    </dd>
    <dt>九州・沖縄</dt>
    <dd>
      <input id="福岡県" class="checkItem" type="checkbox" name="福岡県" value="福岡県">
      <label for="福岡県">福岡県</label>
    </dd>
    <dd>
      <input id="佐賀県" class="checkItem" type="checkbox" name="佐賀県" value="佐賀県">
      <label for="佐賀県">佐賀県</label>
    </dd>
    <dd>
      <input id="長崎県" class="checkItem" type="checkbox" name="長崎県" value="長崎県">
      <label for="長崎県">長崎県</label>
    </dd>
    <dd>
      <input id="熊本県" class="checkItem" type="checkbox" name="熊本県" value="熊本県">
      <label for="熊本県">熊本県</label>
    </dd>
    <dd>
      <input id="大分県" class="checkItem" type="checkbox" name="大分県" value="大分県">
      <label for="大分県">大分県</label>
    </dd>
    <dd>
      <input id="宮崎県" class="checkItem" type="checkbox" name="宮崎県" value="宮崎県">
      <label for="宮崎県">宮崎県</label>
    </dd>
    <dd>
      <input id="鹿児島県" class="checkItem" type="checkbox" name="鹿児島県" value="鹿児島県">
      <label for="鹿児島県">鹿児島県</label>
    </dd>
    <dd>
      <input id="沖縄県" class="checkItem" type="checkbox" name="沖縄県" value="沖縄県">
      <label for="沖縄県">沖縄県</label>
    </dd>
  </dl>
  <!-- 九州・沖縄 - end -->

  <ul class="checkItemSlectBtn">
    <li class="checkItemSlectBtn-reset reset-prefectures">選択をリセット</li>
    <li class="checkItemSlectBtn-decision decide-prefectures">決定</li>
  </ul>
</div>
<!-- include Prefectures - end -->
