<!-- include product and service - start -->
<div class="productAndServiceWrap">
  <div class="productAndServiceInner">
    <div class="btn-close">
      <div class="btn-close__inner">
        <span></span>
        <span></span>
      </div>
    </div>
    <ul class="productAndService">
      <li>カテゴリを選ぶ<span>指定なし</span></li>
      <li>ブランドを選ぶ<span>指定なし</span></li>
      <li>サービスを選ぶ<span>指定なし</span></li>
    </ul>
  </div>
</div><!-- productAndServiceWrap -->

<div class="checkItemWrap checkItemWrap-productAndService">
  <div class="btn-back btn-back-service"><span>閉じる</span></div>
  <div class="searchResultNumber"><span>15</span>店舗ヒットしました</div>
  <div class="btn-close">
    <div class="btn-close__inner">
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="productAndServiceTabElWrap">
    <ul class="productAndServiceTab">
      <li>カテゴリ</li>
      <li>ブランド</li>
      <li class="active">サービス</li>
    </ul>
    <ul class="productAndServiceTab__inner">
      <!-- カテゴリ - start -->
      <li>
        <dl class="checkbox checkbox-maxWidth">
          <dt>ランニング・フィットネス</dt>
          <dd>
            <input id="ランニング" class="checkItem" type="radio" name="カテゴリ" value="ランニング">
            <label for="ランニング">ランニング</label>
          </dd>
          <dd>
            <input id="フィットネス" class="checkItem" type="radio" name="カテゴリ" value="フィットネス">
            <label for="フィットネス">フィットネス</label>
          </dd>
          <dd>
            <input id="ヨガ" class="checkItem" type="radio" name="カテゴリ" value="ヨガ">
            <label for="ヨガ">ヨガ</label>
          </dd>
          <dd>
            <input id="トレーニング" class="checkItem" type="radio" name="カテゴリ" value="トレーニング">
            <label for="トレーニング">トレーニング</label>
          </dd>
          <dt>ボールスポーツ</dt>
          <dd>
            <input id="サッカー・フットサル" class="checkItem" type="radio" name="カテゴリ" value="サッカー・フットサル">
            <label for="サッカー・フットサル">サッカー・フットサル</label>
          </dd>
          <dd>
            <input id="野球・ソフトボール" class="checkItem" type="radio" name="カテゴリ" value="野球・ソフトボール">
            <label for="野球・ソフトボール">野球・ソフトボール</label>
          </dd>
          <dd>
            <input id="バスケットボール" class="checkItem" type="radio" name="カテゴリ" value="バスケットボール">
            <label for="バスケットボール">バスケットボール</label>
          </dd>
          <dd>
            <input id="バレーボール" class="checkItem" type="radio" name="カテゴリ" value="バレーボール">
            <label for="バレーボール">バレーボール</label>
          </dd>
          <dd>
            <input id="その他ボールスポーツ" class="checkItem" type="radio" name="カテゴリ" value="その他ボールスポーツ">
            <label for="その他ボールスポーツ">その他ボールスポーツ</label>
          </dd>
          <dt>ラケットスポーツ</dt>
          <dd>
            <input id="テニス" class="checkItem" type="radio" name="カテゴリ" value="テニス">
            <label for="テニス">テニス</label>
          </dd>
          <dd>
            <input id="バドミントン" class="checkItem" type="radio" name="カテゴリ" value="バドミントン">
            <label for="バドミントン">バドミントン</label>
          </dd>
        </dl>
      </li>
      <!-- カテゴリ - end -->

      <!-- ブランド - start -->
      <li>
        <div class="choiceAlphabetWrap">
          <div class="choiceAlphabet">
            <span class="choiceAlphabet__en">A-Z</span><span class="choiceAlphabet__ja">頭文字から選択</span>
          </div>
          <div class="alphabetWrap">
            <div class="alphabetListWrap">
              <ol class="alphabetList">
                <li><a href="#A">A</a></li>
                <li><a href="#B">B</a></li>
                <li><a href="#C">C</a></li>
                <li><a href="#D">D</a></li>
                <li><a href="#E">E</a></li>
                <li><a href="#F">F</a></li>
                <li><a href="#G">G</a></li>
                <li><a href="#H">H</a></li>
                <li><a href="#I">I</a></li>
                <li><a href="#J">J</a></li>
                <li><a href="#K">K</a></li>
                <li><a href="#L">L</a></li>
                <li><a href="#M">M</a></li>
                <li><a href="#N">N</a></li>
                <li><a href="#O">O</a></li>
                <li><a href="#P">P</a></li>
                <li><a href="#Q">Q</a></li>
                <li><a href="#R">R</a></li>
                <li><a href="#S">S</a></li>
                <li><a href="#T">T</a></li>
                <li><a href="#U">U</a></li>
                <li><a href="#V">V</a></li>
                <li><a href="#W">W</a></li>
                <li><a href="#X">X</a></li>
                <li><a href="#Y">Y</a></li>
                <li><a href="#Z">Z</a></li>
                <li><a href="">その他</a></li>
              </ol>
              <div class="js-serviceList-close"><span>閉じる</span></div>
            </div><!-- alphabetListWrap -->
          </div><!-- alphabetWrap -->
        </div><!-- choiceAlphabetWrap -->
        <dl class="checkbox checkbox-maxWidth">
          <dt id="A">A</dt>
          <dd>
            <input id="adidas（アディダス）" class="checkItem" type="radio" name="ブランド" value="adidas（アディダス）">
            <label for="adidas（アディダス）">adidas（アディダス）</label>
          </dd>
          <dd>
            <input id="asics（アシックス）" class="checkItem" type="radio" name="ブランド" value="asics（アシックス）">
            <label for="asics（アシックス）">asics（アシックス）</label>
          </dd>
          <dt id="C">C</dt>
          <dd>
            <input id="Callaway（キャロウェイ）" class="checkItem" type="radio" name="ブランド" value="Callaway（キャロウェイ）">
            <label for="Callaway（キャロウェイ）">Callaway（キャロウェイ）</label>
          </dd>
          <dd>
            <input id="Coleman（コールマン）" class="checkItem" type="radio" name="ブランド" value="Coleman（コールマン）">
            <label for="Coleman（コールマン）">Coleman（コールマン）</label>
          </dd>
          <dd>
            <input id="CORAGGIO（コラッジオ）" class="checkItem" type="radio" name="ブランド" value="CORAGGIO（コラッジオ）">
            <label for="CORAGGIO（コラッジオ）">CORAGGIO（コラッジオ）</label>
          </dd>
          <dt id="D">D</dt>
          <dd>
            <input id="DUNLOP（ダンロップ）" class="checkItem" type="radio" name="ブランド" value="DUNLOP（ダンロップ）">
            <label for="DUNLOP（ダンロップ）">DUNLOP（ダンロップ）</label>
          </dd>
          <dt id="E">E</dt>
          <dd>
            <input id="ellesse（エレッセ）" class="checkItem" type="radio" name="ブランド" value="ellesse（エレッセ）">
            <label for="ellesse（エレッセ）">ellesse（エレッセ）</label>
          </dd>
          <dt id="F">F</dt>
          <dd>
            <input id="FILA（フィラ）" class="checkItem" type="radio" name="ブランド" value="FILA（フィラ）">
            <label for="FILA（フィラ）">FILA（フィラ）</label>
          </dd>
          <dt id="I">I</dt>
          <dd>
            <input id="IGNIO（イグニオ）" class="checkItem" type="radio" name="ブランド" value="IGNIO（イグニオ）">
            <label for="IGNIO（イグニオ）">IGNIO（イグニオ）</label>
          </dd>
          <dt id="K">K</dt>
          <dd>
            <input id="kissmark（キスマーク）" class="checkItem" type="radio" name="ブランド" value="kissmark（キスマーク）">
            <label for="kissmark（キスマーク）">kissmark（キスマーク）</label>
          </dd>
          <dd>
            <input id="Kolwin（コルウィン）" class="checkItem" type="radio" name="ブランド" value="Kolwin（コルウィン）">
            <label for="Kolwin（コルウィン）">Kolwin（コルウィン）</label>
          </dd>
          <dt id="N">N</dt>
          <dd>
            <input id="new balance（ニューバランス）" class="checkItem" type="radio" name="ブランド" value="new balance（ニューバランス）">
            <label for="new balance（ニューバランス）">new balance（ニューバランス）</label>
          </dd>
          <dd>
            <input id="NIKE（ナイキ）" class="checkItem" type="radio" name="ブランド" value="NIKE（ナイキ）">
            <label for="NIKE（ナイキ）">NIKE（ナイキ）</label>
          </dd>
          <dt id="P">P</dt>
          <dd>
            <input id="PUMA（プーマ）" class="checkItem" type="radio" name="ブランド" value="PUMA（プーマ）">
            <label for="PUMA（プーマ）">PUMA（プーマ）</label>
          </dd>
          <dt id="S">S</dt>
          <dd>
            <input id="SOUTH FIELD（サウスフィールド）" class="checkItem" type="radio" name="ブランド" value="SOUTH FIELD（サウスフィールド）">
            <label for="SOUTH FIELD（サウスフィールド）">SOUTH FIELD（サウスフィールド）</label>
          </dd>
          <dt id="T">T</dt>
          <dd>
            <input id="TaylorMade（テーラーメイド）" class="checkItem" type="radio" name="ブランド" value="TaylorMade（テーラーメイド）">
            <label for="TaylorMade（テーラーメイド）">TaylorMade（テーラーメイド）</label>
          </dd>
          <dd>
            <input id="TIGORA（ティゴラ）" class="checkItem" type="radio" name="ブランド" value="TIGORA（ティゴラ）">
            <label for="TIGORA（ティゴラ）">TIGORA（ティゴラ）</label>
          </dd>
          <dd>
            <input id="TOBUNDA（トブンダ）" class="checkItem" type="radio" name="ブランド" value="TOBUNDA（トブンダ）">
            <label for="TOBUNDA（トブンダ）">TOBUNDA（トブンダ）</label>
          </dd>
          <dt id="U">U</dt>
          <dd>
            <input id="umbro（アンブロ）" class="checkItem" type="radio" name="ブランド" value="umbro（アンブロ）">
            <label for="umbro（アンブロ）">umbro（アンブロ）</label>
          </dd>
          <dd>
            <input id="UNDER ARMOUR（アンダーアーマー）" class="checkItem" type="radio" name="ブランド" value="UNDER ARMOUR（アンダーアーマー）">
            <label for="UNDER ARMOUR（アンダーアーマー）">UNDER ARMOUR（アンダーアーマー）</label>
          </dd>
          <dt id="Y">Y</dt>
          <dd>
            <input id="YONEX（ヨネックス）" class="checkItem" type="radio" name="ブランド" value="YONEX（ヨネックス）">
            <label for="YONEX（ヨネックス）">YONEX（ヨネックス）</label>
          </dd>
          <dt id="Z">Z</dt>
          <dd>
            <input id="ZETT（ゼット）" class="checkItem" type="radio" name="ブランド" value="ZETT（ゼット）">
            <label for="ZETT（ゼット）">ZETT（ゼット）</label>
          </dd>
        </dl>
      </li>
      <!-- ブランド - end -->

      <!-- サービス - start -->
      <li>
        <ul class="checkbox checkbox-service checkbox-maxWidth">
          <li class="flag">
            <div class="checkbox__service-title icon-marking">
              <input id="マーキングファクトリー" class="checkItem" type="radio" name="サービス" value="マーキングファクトリー">
              <label for="マーキングファクトリー">マーキングファクトリー</label>
            </div>
            <div class="checkbox__service-text">チームユニフォームやオリジナルグッズの作成を承ります</div>
          </li>
          <li class="flag">
            <div class="checkbox__service-title icon-sportsGear">
              <input id="スポーツギアワークショップ" class="checkItem" type="radio" name="サービス" value="スポーツギアワークショップ">
              <label for="スポーツギアワークショップ">スポーツギアワークショップ</label>
            </div>
            <div class="checkbox__service-text">野球やテニス用具の修理・調整を選任スタッフが承ります</div>
          </li>
          <li class="flag">
            <div class="checkbox__service-title icon-baseballFactory">
              <input id="野球工房" class="checkItem" type="radio" name="サービス" value="野球工房">
              <label for="野球工房">野球工房</label>
            </div>
            <div class="checkbox__service-text">野球用具の修理・調整を選任スタッフが承ります</div>
          </li>
          <li class="flag">
            <div class="checkbox__service-title icon-embroidery">
              <input id="店内刺繍加工" class="checkItem" type="radio" name="サービス" value="店内刺繍加工">
              <label for="店内刺繍加工">店内刺繍加工</label>
            </div>
            <div class="checkbox__service-text">店内でタオルやバッグへの刺繍加工を承ります</div>
          </li>
          <li class="flag">
            <div class="checkbox__service-title icon-hitting">
              <input id="ヒッティングケージ" class="checkItem" type="radio" name="サービス" value="ヒッティングケージ">
              <label for="ヒッティングケージ">ヒッティングケージ</label>
            </div>
            <div class="checkbox__service-text">野球バットやテニスラケットの試し打ちができます</div>
          </li>
          <li class="flag">
            <div class="checkbox__service-title icon-bicycle">
              <input id="自転車整備士在籍" class="checkItem" type="radio" name="サービス" value="自転車整備士在籍">
              <label for="自転車整備士在籍">自転車整備士在籍</label>
            </div>
            <div class="checkbox__service-text">経験豊富な専任整備士が最新の知識に基づいたサービスを提供します</div>
          </li>
          <li class="flag">
            <div class="checkbox__service-title icon-baseballAdviser">
              <input id="野球アドバイザー在籍" class="checkItem" type="radio" name="サービス" value="野球アドバイザー在籍">
              <label for="野球アドバイザー在籍">野球アドバイザー在籍</label>
            </div>
            <div class="checkbox__service-text">元プロ選手が、道具選びや技術など、野球が上手くなるためのすべてをアドバイスします</div>
          </li>
          <li class="flag">
            <div class="checkbox__service-title icon-SkiAdviser">
              <input id="スキーアドバイザー在籍" class="checkItem" type="radio" name="サービス" value="スキーアドバイザー在籍">
              <label for="スキーアドバイザー在籍">スキーアドバイザー在籍</label>
            </div>
            <div class="checkbox__service-text">専任スタッフが、特殊加工や最適な用具選びなど、お客様に合わせたサービスを提供します</div>
          </li>
          <li class="flag">
            <div class="checkbox__service-title icon-snowboad">
              <input id="スノーボードアドバイザー在籍" class="checkItem" type="radio" name="サービス" value="スノーボードアドバイザー在籍">
              <label for="スノーボードアドバイザー在籍">スノーボードアドバイザー在籍</label>
            </div>
            <div class="checkbox__service-text">専任スタッフが、特殊加工や最適な用具選びなど、お客様に合わせたサービスを提供します</div>
          </li>
          <li class="flag">
            <div class="checkbox__service-title icon-ping">
              <input id="PING公認フィッティング認定店" class="checkItem" type="radio" name="サービス" value="PING公認フィッティング認定店">
              <label for="PING公認フィッティング認定店">PING公認フィッティング認定店</label>
            </div>
            <div class="checkbox__service-text">PING最先端のツール・豊富な試打クラブを駆使したカスタムフィッティングサービスを提供します</div>
          </li>
          <li class="flag">
            <div class="checkbox__service-title icon-mizuno">
              <input id="ミズノGCFショップ" class="checkItem" type="radio" name="サービス" value="ミズノGCFショップ">
              <label for="ミズノGCFショップ">ミズノGCFショップ</label>
            </div>
            <div class="checkbox__service-text">ミズノ最先端のフィッティングシステムを実践し最適なクラブを提案します</div>
          </li>
          <li class="flag">
            <div class="checkbox__service-title icon-threeCamera">
              <input id="３カメ計測器完備" class="checkItem" type="radio" name="サービス" value="３カメ計測器完備">
              <label for="３カメ計測器完備">３カメ計測器完備</label>
            </div>
            <div class="checkbox__service-text">お客様のスイングを１８タイプに分類し、３台のカメラで、最適なクラブをご提案します</div>
          </li>
          <li class="flag">
            <div class="checkbox__service-title icon-old">
              <input id="中古クラブ買取・販売" class="checkItem" type="radio" name="サービス" value="中古クラブ買取・販売">
              <label for="中古クラブ買取・販売">中古クラブ買取・販売</label>
            </div>
            <div class="checkbox__service-text">クラブの査定・買取、中古クラブの販売を行います</div>
          </li>
          <li class="flag">
            <div class="checkbox__service-title icon-craft">
              <input id="クラフトマン（ゴルフ工房）" class="checkItem" type="radio" name="サービス" value="クラフトマン（ゴルフ工房）">
              <label for="クラフトマン（ゴルフ工房）">クラフトマン（ゴルフ工房）</label>
            </div>
            <div class="checkbox__service-text">専任のクラフトマンがお客様のお悩み応じたクラブチューンナップを行います</div>
          </li>
          <li class="flag">
            <div class="checkbox__service-title icon-golfSchool">
              <input id="ゴルフ教室" class="checkItem" type="radio" name="サービス" value="ゴルフ教室">
              <label for="ゴルフ教室">ゴルフ教室</label>
            </div>
            <div class="checkbox__service-text">金谷多一郎プロ監修によるレッスンカリキュラムで、お客様のスキルアップを応援します</div>
          </li>
          <li class="flag">
            <div class="checkbox__service-title icon-data">
              <input id="データ計測器完備" class="checkItem" type="radio" name="サービス" value="データ計測器完備">
              <label for="データ計測器完備">データ計測器完備</label>
            </div>
            <div class="checkbox__service-text">マイクラブや試打クラブの計測を行って、最適なクラブをご提案します</div>
          </li>
          <li class="flag">
            <div class="checkbox__service-title icon-leg">
              <input id="足型測定器" class="checkItem" type="radio" name="サービス" value="足型測定器">
              <label for="足型測定器">足型測定器</label>
            </div>
            <div class="checkbox__service-text">３分程度のスピード測定、正しいサイズと適切な幅を確認し、お客様にあった靴選びをお手伝いします</div>
          </li>
          <li class="flag">
            <div class="checkbox__service-title icon-outlet">
              <input id="アウトレット有り" class="checkItem" type="radio" name="サービス" value="アウトレット有り">
              <label for="アウトレット有り">アウトレット有り</label>
            </div>
            <div class="checkbox__service-text">広大なアウトレットコーナーを常設し、ウェアやシューズを豊富に取り揃えています</div>
          </li>
        </ul>
      </li>
      <!-- サービス - end -->
    </ul>
  </div>

  <ul class="checkItemSlectBtn">
    <li class="checkItemSlectBtn-reset reset-productAndService">選択をリセット</li>
    <li class="checkItemSlectBtn-decision decide-productAndService">決定</li>
  </ul>
</div>
<!-- include product and service - end -->
